*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.searchbar {
  padding: 1rem;
  width: 100vw;
  display: flex;
  background: linear-gradient(to bottom right, #72AF22, #BEDA9A); }
  .searchbar__input {
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 5px 8px;
    width: 35%;
    height: 3.5rem;
    border: none;
    border-radius: 10px;
    background: white;
    color: black; }
  .searchbar__input:focus {
    outline: none;
    border-bottom: 1px #72AF22; }
