//COLORS

$primary-color: #413659;
$secondary-color: #524868;

$white: #FFFFFF;

$black: #000;
$gray: #7F7F7F;
$dark-gray: darken($gray, 23%) !default;
$darker-gray: darken($gray, 43%) !default;
$darkest-gray: darken($gray, 63%) !default;

//GRADIENTS

$nav-gradient: linear-gradient(to bottom right, $primary-color, $secondary-color);
