.section-list{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.list{
    overflow: hidden;
    width: 80vw; 

    &__group{
        
        display: flex;  
        // transform: translateX(-342px) ;
        flex-wrap: nowrap;
        @include respond(tab-port) { // width < 900?
            // flex-direction: column;
        }
    }
    &__item{
        display: flex;
        flex: 1;
        padding: 10px;
    }
    &__media{
        text-align: center;
        font-size: 1.4rem;
    }


}
.left-arrow, .right-arrow{
    & svg{
        width: 30%;
        height: 30%;
        fill: #FFF;
        position: absolute;
    }
    
}

.left-arrow{
    & svg{
        left: -12%;
        top: 50%;
    }
}
.right-arrow{
    & svg{
        right:-12%;
        top:50%;
    }
}

